
:root {
	--bs-dark-rgb: transparent;
	--bs-bg-opacity: 0;
	--bs-secondary-rgb: 212, 20, 90;
}

#app {
	background: #fefefe;
}

.view {
	min-height: 890px;
}

body * {
	transition: all 0.3s ease-in-out;
}

html, body, p {
	font-family: 'Chakra Petch', sans-serif;
}

h1, h2, h3, h4, h5, .heading {
	color: black;
	font-family: 'Chakra Petch', sans-serif;
	/*text-shadow: 0 0 7px black;*/
}

.navbar-dark, .bg-dark {
	background-color: transparent !important;
	box-shadow: 0 0 6px black;
}

.navbar-dark .navbar-nav .nav-link {
	color: black;
	font-weight: 600;
}

.nav-link .disabled {
	color: gray !important;
	user-select: none;
}


h1 {
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.3em;
	font-weight: 400;
}

h4 {
	font-size: 1.2em;
	text-transform: uppercase;
}

h5 {
	font-size: 1.1em;
	text-transform: uppercase;
}

.gradient-primary {
	background: rgb(251, 176, 59);
	background: linear-gradient(90deg, rgba(251, 176, 59, 1) 0%, rgba(212, 20, 90, 1) 100%);
}

.gradient-secondary {
	color: black;
	background: rgb(153, 153, 153);
	background: linear-gradient(180deg, rgba(153, 153, 153, 1) 0%, rgba(77, 77, 77, 1) 100%);
}

.card {
	color: black;
}

body, .gradient-default {
	color: white;
	font-weight: 300;
	background: black;
}

#header, #header h1, #header h3 {
	color: black;
	text-shadow: none;
}

#header h3 {
	font-weight: 300;
}

.no-underline {
	text-decoration: none;
}

.social-icon {
	color: white;
	fill: white;
	max-height: 30px;
	filter: brightness(100%) contrast(1%);
	cursor: pointer;
}

/*
 * Blok host
*/

section {
	min-height: 900px;
	padding-top: 100px;
	padding-bottom: 200px;
}

#site-uploader > section {
	min-height: unset;
	padding-top: unset;
	padding-bottom: unset;
}

footer a {
	color: white;
}

.btn.btn-outline-primary {
	border: 2px solid rgba(212, 20, 90, 1);
	color: rgba(212, 20, 90, 1);
}

.btn.btn-outline-primary:hover {
	border: 2px solid rgba(212, 20, 90, 1);
	background: transparent;
	color: rgba(212, 20, 90, 1);
	box-shadow: 0 0 7px rgba(212, 20, 90, 1);
}

.btn.btn-outline-primary:focus, .btn.btn-outline-primary:active {
	border: 2px solid rgba(212, 20, 90, 1);
	background: transparent;
	color: rgba(212, 20, 90, 1);
	box-shadow: 0 0 7px rgba(212, 20, 90, 1);
	text-shadow: 0 0 3px rgba(212, 20, 90, 1);;
}

.btn.btn-primary {
	border: 2px solid white;
	background: rgb(251, 176, 59);
	background: linear-gradient(90deg, rgba(251, 176, 59, 1) 0%, rgba(212, 20, 90, 1) 100%);
	border-radius: 7px;
	box-shadow: -2px 2px 2px rgba(0,0,0,0.2);
}

.btn.btn-primary:hover {
	background: rgb(251, 176, 59);
	border-color: rgb(251, 176, 59);
	background: linear-gradient(90deg, rgba(251, 176, 59, 1) 0%, rgba(212, 20, 90, 1) 100%);
	box-shadow: 0 0 7px rgb(251, 176, 59);
}

.btn.btn-primary:active, .btn.btn-primary:focus {
	background: rgb(251, 176, 59);
	border-color: rgb(251, 176, 59);
	background: linear-gradient(90deg, rgba(251, 176, 59, 1) 0%, rgba(212, 20, 90, 1) 100%);
	box-shadow: 0 0 7px rgba(212, 20, 90, 1);
}

.bg-primary {
	background: rgb(251, 176, 59);
	background: linear-gradient(90deg, rgba(251, 176, 59, 1) 0%, rgba(212, 20, 90, 1) 100%);
	box-shadow: 0 2px 3px rgba(0,0,0,0.4);
	text-transform: uppercase;
}

.bg-secondary {
	box-shadow: 0 2px 3px rgba(0,0,0,0.4);
	text-transform: uppercase;
}

.btn.btn-primary.btn-lg {
	font-size: 1.8em;
	padding: 5%;
	border: none;
}

.btn-hex p {
	font-weight: 300 !important;
}

.btn-hex:active {
	transform: scale(1);
}


hr {
	opacity: 1;
	height: 3px !important;
	box-shadow: 0 0 3px black;
}

.hero-img {
	width: 100%;
}

/*
 * Animations
*/
body {
	transition: all 0.3s ease-in-out;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
									 supported by Chrome, Edge, Opera and Firefox */
}

.card {
	border: none;
	background: rgba(255, 255, 255);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.card-header {
	background: unset;
	border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

.token-logo {
	height: 1rem;
	border-radius: 27px;
}
.nolink {
	text-decoration: none;
	color: unset;
}


/*Scrollbars */


/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: unset;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: linear-gradient(180deg, rgba(251, 176, 59, 1) 0%, rgba(212, 20, 90, 1) 100%);
	border-radius: 10px;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.option-outer:hover .option-inner, .option-outer.active .option-inner {
	border: 3px solid white;
	background: linear-gradient(90deg, rgba(251, 176, 59, 1) 0%, rgba(212, 20, 90, 1) 100%);
}

.drive.active {
	transform: scale(1.01);
	border: 2px solid rgba(212, 20, 90, 1) !important;
}